<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Rustybear :: {% block title %}{% endblock %}</title>
    {% load static from staticfiles %}
    <link href="{% static "css/base-0.1.0.css" %}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{% static "favicon.ico" %}" rel="shortcut icon" type="image/x-icon" />
  </head>
  <body>
    <div id="container">
      <div id="header"></div>
      <div id="content">{% block content %}{% endblock %}</div>
      <div id="footer">
          <p><a href="/">home</a>&nbsp;&nbsp;::&nbsp;&nbsp;<a href="/contact/">contact</a></p>
          <p>&copy; 2008-{% now "Y" %} rustybear :: hosted by: <a href="http://www.rustybear.com/">rustybear</a></p>
      </div>
      <div id="bottom"></div>
    </div>
  </body>
</html>

