{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>
                <br />
                <h3 class="text-primary">Be advised ...</h3>
                <br />
            </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                {% load static from staticfiles %}
                <p class="lead text-danger">
                <img src="{% static "images/rustybear.gif" %}" width="" height="" alt="" />
                 &nbsp; A new Rustybear website about to begin ... </p>
            </td>
        </tr>

        <tr>
            <td>
                <br />
                <p class="well">
                123 Main Street<br />
                Anytown, CT  12345<br />
                Tel:&nbsp;&nbsp; 203.555.1212
                <br />
                <br />
                <a href="/contact/"><img src="{% static "images/but_contactus.gif" %}" /></a>
                </p>
            </td>
        </tr>
    </tbody>
</table>


{% endblock %}

